.App {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
  text-align: center;
  padding-bottom: 0;

  background: var(--dark-blue);
}

.shrink {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

.App h1 {
  padding-block: 0.5rem;
}

.mainPanel {
  background: var(--dark-grayish-blue);
  /* border: 2px solid black; */
  padding: 1rem;
  text-align: left;
}

.inputContainer {
  display: flex;
  gap: 10px;
}

.inputContainer textarea {
  color: var(--dark-blue-black);
  width: 100%;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 5px;
  resize: vertical;
}

.extra-options-container {
  display: flex;
  gap: 5px;
  padding: 10px 0;
  flex-wrap: wrap;
}

.extra-options-container select {
  background: var(--dark-blue-black);
  border: none;
  padding: 5px 15px;
}

#showFrequencies {
  margin: 5px;
  cursor: pointer;
}

.decodeValueContainer {
  margin-top: 0.5rem;
}

.decodeValueContainer > p {
  margin-top: 0.5rem;
  word-break: break-all;
}

.decodeValueContainer > p:last-child {
  margin-top: 1rem;
}

.encodedValues {
  display: flex;
  gap: min(100%, 1rem);
  flex-wrap: wrap;
}

.encodedValues > p {
  width: 30%;
}

.binaryTreeContainer {
  width: 100%;
  flex: 1;
  border-top: 2px solid var(--dark-blue);
  overflow: auto;
  padding: 2rem;

  background: var(--dark-grayish-blue);
  position: relative;
}

.arrow-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 1rem;
  text-align: center;
}

.arrow-container .arrow-up {
  fill: #4bb543;
  font-size: 2rem;
  animation: arrow-up-down 1.3s infinite linear;
}

@keyframes arrow-up-down {
  0% {
    transform: translateY(0.25rem);
  }

  50% {
    transform: translateY(-0.25rem);
  }

  100% {
    transform: translateY(0.25rem);
  }
}

.arrow-container p {
  color: #4bb543;
  font-size: 1rem;
}

footer {
  margin-top: auto;
  margin-inline: auto;
}

footer p {
  padding: 1rem;
}

@media (min-width: 45em) {
  .extra-options-container {
    gap: 20px;
  }

  .encodedValues > p {
    width: 12rem;
  }

  .decodeValueContainer {
    margin-top: 1.5rem;
  }
}
